
body {
  padding: 0;
  height: 100%;
}

nav{
  height:60px;
}

html{
  width: 100%;
  height: 100%;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.cont{
  width: 100%;
  min-height: 100%;
  position: relative;
  min-width: 1240px;
  overflow: hidden;
}

.menu{
  width: 400px;
  position: absolute;
  top: 60px;
  left: 0px;
  bottom: 0;
  z-index: 999;
  display: flex;
  justify-content: flex-start;
  background-color: #fff;
  flex-direction: column;
}

.btnList{
  width: 100%;
  height: 50px;
}

.wrap{
  height: 100%;
  min-height: 700px;
  width: 100%;
  overflow: hidden;
  min-width: 1240px;
}

.heart{
  width: 50px;
  height: 50px;
}

.tableWrap {
  max-height: 500px;
  overflow-y: scroll;
  margin: 40px 0;
}

.map {
  top: 60px;
  bottom: 0px;
  left: 0px;
  right: 0;
  position: absolute;
  overflow: hidden;
}

#subwayInfo{
  /* border: 1px solid black; */
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
}

table, tr, td, th{
  /* border: 1px solid black; */
  margin: 0 auto;
}

.ol-popup{
  background: rgba(180, 180, 180, 0.5);
  border-radius: 10px;
  color: white;
}

#hospinfo {
  width: 400px;
  max-height: calc(100% - 50px);
  height: calc(100% - 50px);
  overflow-y: scroll;
  margin-bottom: 10px;
  /* margin: 20px 0; */
}

#hospinfo::-webkit-scrollbar {
  width: 8px;  
}

#hospinfo::-webkit-scrollbar-thumb {
  height: 30%; 
  background: #919191; 
  border-radius: 10px;
}

#hospinfo::-webkit-scrollbar-track {
  background: rgba(33, 122, 244, .1); 
}

.mk-popup{
  background: white;
  border-radius: 10px;
  color: black;
}

.mk-popup>p{
  text-align: center;
  color: black;
  margin: 0;
  padding: 10px;
}

.mk-popup > p > span{
  float: right;
}

.searchBox{
  width:80%;
}

.searchBtn{

}

.search{
  text-align: center;
}